*\~
snippets
auto-save-list
elpa
ac-comphist.dat
.recentf
.smex-items
ido.last
places
projectile-bookmarks.eld
recentf
projectile.cache
.cask
var
bookmarks
eshell
resources
edts
local
.org-id-locations
diary
/bbdb
/irony/bin/irony-server
tramp
network-security.data
\#*\#
.\#*
/metal-mercury-mode/
/transient/
